/* This is setting ALL HTML elements with border-box sizing ... just in case */

* {
  box-sizing: border-box;
}

/* Setting some styling for all elements in my body */

body {
  background: #94DCE8;
  margin: 0;
  font-family: Georgia, serif;
}

/* Setting some styling for all elements in Header */

header {
  background: #048081;
  padding: 10px;
  text-align: center;
}

/* Only styling the h1 element in header */

header h1 {
  font-size: 60px;
}

/* Styling all elements in main */

main {
  padding: 0 10% 0 10%;
}

/* Styling my article element */

article {
  margin-top: 5%;
  margin-bottom: 5%;
}

/* Only styling h3 and p elements in main*/

main h3, p {
  text-align: center;
}

/* Styling ul and ol in main */

main ul, ol {
  
  /* This allows my lists to have the bullets or numbers alongside the rest of the content */
  
  list-style-position: inside;
}

/* styling my hr element */

hr {
  width:50%;
  height:5px;
  background-color:black;
  border-radius: 80%;
}

/* Styling my footer element */

footer {
  padding: 2%;
  background: #048081;
}

/* styling my links */

a {
  font-weight: bold;
}

a:link {
  color: #045c47;
}

a:visited {
  color: #ad42f5;
}

a:hover {
  color: #9c1111;
}

a:active {
  color: #fff538;
}

/* creating classes to use in my html elements */

/* This class allows me to center an image to the page */

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 25%;
  border-radius: 50%;
}

/* this class allows me to center any container to the page */

.center-container {
  display: flex;
  justify-content: center;
}
